#container {
	position: fixed;
	height: 600px;
	width: 900px;
}

#surface {
	left: 0;
	right: 0;
	height: 100%;
	font-weight: 100%;
	background-image: url("img/table_.jpg");
	background-size: 900px 600px;
	background-repeat: no-repeat;
}

#top {
	top: 0;
	height: 50%;
}

#bottom {
	bottom: 0;
	height: 50%;
}

#advice {
	float: right;
	padding-right: 25px;
	height: 125px;
	width: 125px;
	border: 1px solid white;
	vertical-align: top;
}

#advice p {
	font-weight: bolder;
	color: red;
	font-size: large;
}

#advice #checkmark { 
	max-width: 100%;
    height: auto;
}

#top .box {
	height: 142px;
	width: 140px;
	margin: 0 auto;
	position: relative;
	top: 30%;
	transform: translateY(-50%);
	/*border: 1px solid lime;*/
}


#bottom .box {
	height: 142px;
	width: 130px;
	margin: 0 auto;
	position: relative;
	top: 19%;
	transform: translateY(-50%);
	/*border: 1px solid lime;*/
}

/*.box {
	height: 142px;
	width: 200px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}*/

.box .right {
	width: 100px;
	height: 100%;
	float: right;
	z-index: 1;
	margin-left: -100px;
}

.box .left {
	width: 100px;
	height: 100%;
	float: left;
}

.box .left img {
	max-width: 100%;
    height: auto;
}

.box .right img {
	max-width: 100%;
    height: auto;
}

#controls {
	height: 50px;
	width: 100%;
	background-color: grey;
	position: absolute;
	bottom: 0;
}

#buttons { 
	height: 100%;
	width: 50%;
	position: absolute;
	margin: 0 auto;
}

#buttons button {
	height: 100%;
	margin: 0;
}

#checkboxes {
	float: right;
	padding-right: 10px;
}

#streak_box {
	float: right;
	padding-right: 10px;
	text-align: center;
	width: 100px;
	color: yellow;
	font-weight: bold;
}